/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 12 ene 2024, 15:32:04
    Author     : erika
*/

h1 {
    font-family: Arial;
    font-size: 20pt;
}

li {
    font-family: Arial;
    font-size: 12pt;
}
